<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lesson Booking</title>
    <link rel="stylesheet" type="text/css" href="style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script src="https://unpkg.com/vue@2.7.8/dist/vue.js"></script>
</head>

<body>
    <div id="lessonstore">
        <header>
            <h1 v-text="titlename"></h1>
            <button type="button" :disabled="cartItemCount === 0" @click="showCheckout">
                {{ cartItemCount }}
                <i class="fas fa-shopping-cart"></i>
                Basket
            </button>
        </header>
        <main>
            <div v-if="showLesson">
                <div id="sort-bar">
                    <select name="sortBy" id="select" v-model="sortBy">
                        <option disabled value="">Sort By</option>
                        <option value="alphabeticallySubject">Subject</option>
                        <option value="alphabeticallyLocation">Location</option>
                        <option value="lowPrice">Price</option>
                        <option value="lowAvailability">Availability</option>
                    </select>
                    <button disabled v-if="!sortBy">
                        <a>Ascending</a>
                    </button>
                    <button v-on:click="ascending = !ascending" v-else>
                        <a v-if="ascending">Ascending</a>
                        <a v-else>Descending</a>
                    </button>
                </div>
                <div v-for="lesson in sortedArray" :key="lesson._id">
                    <ul>
                        <li>
                            <figure>
                                <img v-bind:src="lesson.image" alt="Lesson Image">
                            </figure>
                            <h2 v-text="lesson.title"></h2>
                            <p v-text="lesson.location"></p>
                            <p>Price: £{{ lesson.price }}</p>
                            <p>Availability: {{ lesson.availability }}</p>

                            <button @click='addToCart(lesson)' v-if='canAddToCart(lesson)'> Add to cart
                                <i class="fas fa-plus-circle"></i>
                            </button>
                            <button type=button disabled v-else>Add To Cart
                                <i class="fas fa-plus-circle"></i>
                            </button>
                        </li>
                    </ul>
                </div>
            </div>
            <div v-else>
                <button type="button" @click="showLesson = true">Back to Lessons</button>
                <h2>Items in Basket</h2>
                <ul>
                    <li v-for="item in cartItems" :key="item.id" >
                        <figure>
                            <img v-bind:src="item.image" alt="Cart Item Image">
                        </figure>
                        <h2 v-text="item.title"></h2>
                        <p>Price: £{{ item.price }}</p>
                        <p>Quantity: {{ item.quantity }}</p>
                        <button @click="removeFromCart(item.id)">Remove</button>
                    </li>
                </ul>

                <p v-if="cartItems.length > 0">
                    <strong>Total Price: £{{ totalPrice }}</strong>
                </p>
                <h2>Checkout</h2>
                <form @submit.prevent="submitForm">
                    <p>
                        <strong>First Name:</strong>
                        <input v-model="order.firstName" @input="validateName('firstName')" />
                    </p>
                    <p>
                        <strong>Last Name:</strong>
                        <input v-model="order.lastName" @input="validateName('lastName')" />
                    </p>
                    <p>
                        <strong>Phone Number:</strong>
                        <input v-model="order.phoneNum" @input="validatePhone" />
                    </p>
                    <p>
                        <strong>Address:</strong> <input v-model="order.address" />
                    </p>
                    <p>
                        <strong>City:</strong> <input v-model="order.city" />
                    </p>
                    <p>
                        <strong>Country:</strong>
                        <select v-model="order.country">
                            <option disabled value="">--select an option--</option>
                            <option>England</option>
                            <option>Northern Ireland</option>
                            <option>Scotland</option>
                            <option>Wales</option>
                        </select>
                    </p>
                    <p>
                        <strong>Post Code:</strong> <input v-model="order.postcode" />
                    </p>
                    <p><input type="checkbox" id="gift" value="true" v-model="order.gift"
                            v-bind:true-value="order.sendGift" v-bind:false-value="order.dontSendGift">
                        <label for="gift">Ship As Gift?</label>

                    </p>
                    <p>
                        <input type="radio" id="home" value="Home" v-model="order.method">
                        <label for="home">Home</label>
                        <input type="radio" id="business" value="Business" v-model="order.method">
                        <label for="business">Business</label>
                    </p>
                    <button disabled
                        v-if="order.firstName === '' || order.lastName === '' || order.phoneNum === '' ">Place
                        Order</button>
                    <button type="submit" v-else>Place Order</button>
                </form>
                <h2>Order Information</h2>
                <p>First Name: {{order.firstName}}</p>
                <p>Last Name: {{order.lastName}}</p>
                <p>Phone Number: {{order.phoneNum}}</p>
                <p>Address: {{order.address}}</p>
                <p>City: {{order.city}}</p>
                <p>Postcode: {{order.postcode}}</p>
                <p>Country: {{order.country}}</p>
                <p>Gift? {{order.gift}}</p>
                <p>Method: {{order.method}}</p>
            </div>
        </main>
    </div>
    <script src="../CS-V1-BEnd/app.js"></script>
    <script src="script.js"></script>
</body>

</html>