img {
    max-width: 150px;
    max-height: 150px;
}

ul {
    padding: 0;
}

li {
    list-style-type: none;
}

.dropdown {
    width: 72px;
    padding-top: 10px;
}

.dropdown-content {
    display: none;
}

.dropdown:hover .dropdown-content {
    display: block;
}